


body{
	background-color:white;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:0px;
	margin-bottom:0px;
	
}
.navigation-bar{
	background-color:black;
	border-style:solid;
	border-color:black;
	border-width:1px;
	
}
.nav-ul{
	list-style-type: none;
    margin: 0
    padding: 0;
    overflow: hidden;
    background-color: none;
}
.nav-option{
	float: right;
    display: inline;
    color:LightGreen;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Arial,'Alfa Slab One', cursive;
    font-size:1.4em;
	
}
a:link {
    color: LightGreen;
    text-decoration: none;
    background-color: none;
}

a:hover,a:active,a:visited {
    color: red;
}
.avatar{
	margin:auto; 
	display:block;
}
h1{
	margin-top:20px;
	margin-bottom:40px;
	font-family: 'Berkshire Swash', cursive;
	font-size:4em;

}
h3{
	margin-top:20px;
	margin-bottom:40px;
	font-family: 'Berkshire Swash', cursive;
	font-size:2em;
}

.section-about-me{
	margin-top:60px;;
	margin:bottom:60px;

}
p.aboutme-text{
	font-size: 1.20em;
	font-family: font-family: 'Berkshire Swash', cursive;
	color:black;

}
ul.skill-list{
	margin-top:0px;
	font-size: 1.20em;
	font-family: font-family: 'Berkshire Swash', cursive;
	color:black;
}
.line{
    display: block;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-width: 0.7px;
	color:white;
}
.section-skills{
	margin-top:auto;
	margin:bottom:40px;
	font-size: 1.20em;
	font-family: font-family: 'Berkshire Swash', cursive;
	color:black;

}
.skill-list{
	font-size: 1.20em;
	font-family: font-family: 'Berkshire Swash', cursive;
	color:black;
	margin-top:auto;
}
.projects{
	border:1px solid white;
	margin:30px;
	border-radius:3%;
	padding:2em;
}
.thumbnail{
  background:none;
  border:none;
}
.project-images{
    margin: auto;
    width: 300px;
	height:300px;
	max-height:300px;
 }
 
 .section-contact{
	 margin-bottom:30px;
	 padding:auto;
	 
	 
 }
 
 .contact-text{
	font-size: 1.20em;
	font-family: font-family: 'Berkshire Swash', cursive;
	color:black;
	margin-top:10px;;
	text-align: justify;
	 
 }
 #email{
	 color:blue;
	 text-decoration: underline;
 }
 
 footer{
	 margin-top:50px;
	 padding-top:0px;
	 padding-bottom:0px;
	 margin-bottom:0px;
 
 }
 
 .footer-logo{
	display: flex;
	justify-content: center;
    margin-left: auto;
    margin-right: auto;
 }


